alabaster==0.7.12

appdirs==1.4.4
argh==0.26.2
asgiref==3.3.4


astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0

comtypes==1.1.7
conda==4.8.3
conda-build==3.18.11
conda-package-handling==1.7.0
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography==2.9.2
cytoolz==0.10.1

decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.2

dj-database-url==0.5.0
Django==3.2.3
django-crispy-forms==1.11.2
django-heroku==0.3.1
docutils==0.16
et-xmlfile==1.0.
gunicorn==20.1.0
HeapDict==1.0.1
imagesize==1.2.0
inflect==5.3.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
json5==0.9.5
mysql-connector-python==8.0.22
numpy==1.18.5
path==13.1.0
pathlib2==2.3.5
pep8==1.7.1
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1594298230227/work
pyflakes==2.2.0
Pygments==2.6.1
python-dateutil==2.8.1
sqlparse==0.4.1
statsmodels==0.11.1
tables==3.6.1
tblib==1.6.0
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
virtualenv==20.4.7
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5

xlrd==1.2.0
