{% extends 'base.html' %}
{% block aboutactive%}active{% endblock %}
{% block title %} About {% endblock %}
{% block body %}

<h1 style="font-family:verdana" class="my-4">Hey! My name is Bhavya.</h1><hr>

<h4 style="font-family:courier" class="my-4">MyBlog.com was built to help people get started with building a website or blog so they can help fund their lifestyle. So many people work their fingers to the bone to earn a living, working 40+ hours a week, never seeing their kids grow up and never being able to afford the good things in life.

I was there. 27 years old and working in a dead end job, trying to support my girlfriend and our new born baby Daughter, Elsa. I hardly saw them. Only on a Sunday when I had a day off, was I able to spend some valuable time with my young family.

I was always into web design and got myself a few freelance jobs setting up blogs and creating content for small local business. It was then I realised that I could make a lot of money through blogging.

As the blog building orders rolled in, just from recommendations from previous clients, I had enough money to start building my own blogs and begin making some serious cash.

I cover a wide variety of topics from blogging basics to more advanced techniques such as getting more traffic or making more money from your blog.

If you have wanted to start a blog for sometime but just did not know where to start or how to start then you are in the right place. All of the information on my blog and newsletter is available to you for free.
</h4>

{% endblock %}